
/*------颜色文本-----*/
.YB_snowtext {
	color: rgb(40,243,223);
}
.YB_mysterytext {
	color: rgb(243,40,182);
}
.YB_dark1text {
	color: rgb(177,76,218);
}
.YB_dark2text {
	color: rgb(204,79,255);
}
.YB_darktext {
	color: rgb(247,79,255);
}
.YB_moneytext {
	color: rgb(255,245,0);
}