/*----------------定义雪颜色----------------*/
.player .identity[data-color="YB_snow"],
div[data-nature="YB_snow"],
span[data-nature="YB_snow"] {
	text-shadow: black 0 0 1px,rgba(40,243,223,1) 0 0 2px,rgba(40,243,223,1) 0 0 5px,rgba(40,243,223,1) 0 0 10px,
	rgba(40,243,223,1) 0 0 10px
}
div[data-nature="YB_snowm"],
span[data-nature="YB_snowm"] {
	text-shadow: black 0 0 1px,rgba(40,243,223,1) 0 0 2px,rgba(40,243,223,1) 0 0 5px,rgba(40,243,223,1) 0 0 5px,
	rgba(40,243,223,1) 0 0 5px,black 0 0 1px;
}
div[data-nature="YB_snowmm"],
span[data-nature="YB_snowmm"] {
	text-shadow: black 0 0 1px,rgba(40,243,223,1) 0 0 2px,rgba(40,243,223,1) 0 0 2px,rgba(40,243,223,1) 0 0 2px,
	rgba(40,243,223,1) 0 0 2px,black 0 0 1px;
}
/*,rgba(40,243,223,1) 0 0 20px,rgba(40,243,223,1) 0 0 20px,black 0 0 1px;*/
/*----------------定义迷失颜色----------------*/
.player .identity[data-color="YB_mystery"],
div[data-nature="YB_mystery"],
span[data-nature="YB_mystery"] {text-shadow: black 0 0 1px,rgba(243,40,182,1) 0 0 2px,rgba(243,40,182,1) 0 0 5px,
	rgba(243,40,182,1) 0 0 10px,rgba(243,40,182,1) 0 0 10px
}
div[data-nature="YB_mysterym"],
span[data-nature="YB_mysterym"] {text-shadow: black 0 0 1px,rgba(243,40,182,1) 0 0 2px,rgba(243,40,182,1) 0 0 5px,
	rgba(243,40,182,1) 0 0 5px,rgba(243,40,182,1) 0 0 5px,black 0 0 1px;
}
div[data-nature="YB_mysterymm"],
span[data-nature="YB_mysterymm"] {text-shadow: black 0 0 1px,rgba(243,40,182,1) 0 0 2px,rgba(243,40,182,1) 0 0 2px,
	rgba(243,40,182,1) 0 0 2px,rgba(243,40,182,1) 0 0 2px,black 0 0 1px;
}
/*,rgba(243,40,182,1) 0 0 20px,rgba(243,40,182,1) 0 0 20px,black 0 0 1px;*/
/*----------------定义魔族颜色------------------*/
.player .identity[data-color="YB_dark"],
div[data-nature="YB_dark"],
span[data-nature="YB_dark"] {text-shadow: black 0 0 1px,rgba(177,76,218,1) 0 0 2px,rgba(177,76,218,1) 0 0 5px,
	rgba(177,76,218,1) 0 0 10px,rgba(177,76,218,1) 0 0 10px
}
div[data-nature="YB_darkm"],
span[data-nature="YB_darkm"] {text-shadow: black 0 0 1px,rgba(177,76,218,1) 0 0 2px,rgba(177,76,218,1) 0 0 5px,
	rgba(177,76,218,1) 0 0 5px,rgba(177,76,218,1) 0 0 5px,black 0 0 1px;
}
div[data-nature="YB_darkmm"],
span[data-nature="YB_darkmm"] {text-shadow: black 0 0 1px,rgba(177,76,218,1) 0 0 2px,rgba(177,76,218,1) 0 0 2px,
	rgba(177,76,218,1) 0 0 2px,rgba(177,76,218,1) 0 0 2px,black 0 0 1px;
}
/*,rgba(177,76,218,1) 0 0 20px,rgba(177,76,218,1) 0 0 20px,black 0 0 1px;*/
.player .identity[data-color="YB_money"],
div[data-nature="YB_money"],
span[data-nature="YB_money"] {text-shadow: black 0 0 1px,rgba(255,245,0,1) 0 0 2px,rgba(255,245,0,1) 0 0 5px,
	rgba(255,245,0,1) 0 0 10px,rgba(255,245,0,1) 0 0 10px
}
div[data-nature="YB_moneym"],
span[data-nature="YB_moneym"] {text-shadow: black 0 0 1px,rgba(177,76,218,1) 0 0 2px,rgba(177,76,218,1) 0 0 5px,
	rgba(255,245,0,1) 0 0 5px,rgba(255,245,0,1) 0 0 5px,black 0 0 1px;
}
div[data-nature="YB_moneymm"],
span[data-nature="YB_moneymm"] {text-shadow: black 0 0 1px,rgba(255,245,0,1) 0 0 2px,rgba(255,245,0,1) 0 0 2px,
	rgba(255,245,0,1) 0 0 2px,rgba(255,245,0,1) 0 0 2px,black 0 0 1px;
}
/*----------------定义风颜色----------------*/
.player .identity[data-color="YB_windy"],
div[data-nature="YB_windy"],
span[data-nature="YB_windy"] {
	text-shadow: black 0 0 1px,rgba(255, 237, 123,1) 0 0 2px,rgba(255, 237, 123,1) 0 0 5px,rgba(255, 237, 123,1) 0 0 10px,
	rgba(255, 237, 123,1) 0 0 10px
}
div[data-nature="YB_windym"],
span[data-nature="YB_windym"] {
	text-shadow: black 0 0 1px,rgba(255, 237, 123,1) 0 0 2px,rgba(255, 237, 123,1) 0 0 5px,rgba(255, 237, 123,1) 0 0 5px,
	rgba(255, 237, 123,1) 0 0 5px,black 0 0 1px;
}
div[data-nature="YB_windymm"],
span[data-nature="YB_windymm"] {
	text-shadow: black 0 0 1px,rgba(255, 237, 123,1) 0 0 2px,rgba(255, 237, 123,1) 0 0 2px,rgba(255, 237, 123,1) 0 0 2px,
	rgba(255, 237, 123,1) 0 0 2px,black 0 0 1px;
}
/*,rgba(255, 237, 123,1) 0 0 20px,rgba(255, 237, 123,1) 0 0 20px,black 0 0 1px;*/
/*----------------定义岩颜色----------------*/
/*----------------定义其实我就是懒得找颜色了----------------*/
.player .identity[data-color="YB_rock"],
div[data-nature="YB_rock"],
span[data-nature="YB_rock"] {
	text-shadow: black 0 0 1px,rgba(255, 237, 123,1) 0 0 2px,rgba(255, 237, 123,1) 0 0 5px,rgba(255, 237, 123,1) 0 0 10px,
	rgba(255, 237, 123,1) 0 0 10px
}
div[data-nature="YB_rockm"],
span[data-nature="YB_rockm"] {
	text-shadow: black 0 0 1px,rgba(255, 237, 123,1) 0 0 2px,rgba(255, 237, 123,1) 0 0 5px,rgba(255, 237, 123,1) 0 0 5px,
	rgba(255, 237, 123,1) 0 0 5px,black 0 0 1px;
}
div[data-nature="YB_rockmm"],
span[data-nature="YB_rockmm"] {
	text-shadow: black 0 0 1px,rgba(255, 237, 123,1) 0 0 2px,rgba(255, 237, 123,1) 0 0 2px,rgba(255, 237, 123,1) 0 0 2px,
	rgba(255, 237, 123,1) 0 0 2px,black 0 0 1px;
}
/*,rgba(255, 237, 123,1) 0 0 20px,rgba(255, 237, 123,1) 0 0 20px,black 0 0 1px;*/
/*--------雪属性卡牌字体颜色-------*/
.card.fullskin.YB_snow>.name {
	color: #1EB1A1;
	border: 1px solid #1EB1A1;
}
/*.card.fullskin.YB_snow>.name {
	color: #28E3CE;
	border: 1px solid #28E3CE;
}*/
.card.fullskin.YB_blood>.name {
	color: #C42626;
	border: 1px solid #C42626;
}
/*.card.fullskin.YB_blood>.name {
	color: #E328B7;
	border: 1px solid #E328B7;
}*/
.card.fullskin.YB_windy>.name {
	color: #ffed7a;
	border: 1px solid #ffdd00;
}
.card.fullskin.YB_rock>.name {
	color: #ffed7a;
	border: 1px solid #ffdd00;
}
/*--------血属性卡牌字体颜色-------*/
.card.fullskin.YB_mystery>.name {
	color: #E328B7;
	border: 1px solid #E328B7;
}
.card.fullskin.YB_dark>.name {
	color: #B14CDA;
	border: 1px solid #B14CDA;
}
#window>.damage.fullscreenavatar[data-nature="YB_snow"]:not(.noshadow)>div:first-child>div{
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0,0.5) 0 0 10px, rgba(0, 0, 0,0.3) 0 0 30px, rgba(40,243,223,1) 0 0 60px;
}
#window>.damage.fullscreenavatar[data-nature="YB_blood"]:not(.noshadow)>div:first-child>div{
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0,0.5) 0 0 10px, rgba(0, 0, 0,0.3) 0 0 30px, rgba(243,40,182,1) 0 0 60px;
}
#window>.damage.fullscreenavatar[data-nature="YB_dark"]:not(.noshadow)>div:first-child>div{
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0,0.5) 0 0 10px, rgba(0, 0, 0,0.3) 0 0 30px, rgba(243,40,182,1) 0 0 60px;
}
#window>.damage.fullscreenavatar[data-nature="YB_money"]:not(.noshadow)>div:first-child>div{
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0,0.5) 0 0 10px, rgba(0, 0, 0,0.3) 0 0 30px, rgba(255,245,0,1) 0 0 60px;
}
/*----------十周年视为----------*/
.card>.temp-name[data-nature='YB_snow'] {
	color: #076387;
	text-shadow: 0 0 5px #99fffd, 0 0 10px #99fffd;
}
.card>.temp-name[data-nature='YB_blood'] {
	color: #C42626;
	text-shadow: 0 0 5px #ffafd5, 0 0 10px #ffafd5;
}
.YB_http {
	color: #ff0;
	text-decoration: none;
}
.YB_http:hover {
	color: #28e3ce;
}
.YB_glow{
	border: 2px solid yellow;
	filter: drop-shadow(0 0 10px yellow);
}
.YB_flames{
	border: 2px solid rgb(255, 174, 0);
	filter: drop-shadow(0 0 10px #ff7b00);
}
#shiroha_bilibili:link,
#shiroha_bilibili:visited {
	color: white;
}
/* 能量条 */
.player[data-position="0"]>.nengliangtiao {
	width: 50%;
	height: 10%;
	left: 25%;
	top: -20%;
	background-color: rgb(231, 172, 9);
	border-radius: 9px;
	z-index: 10;
}

/* 能量条 */
.player[data-position="0"]>.nengliangtiao>.jindutiao {
	font-size: 10px;
	text-align: center;
	border-radius: 9px;
	height: 100%;
	width: 50%;
	z-index: 20;
	background-color: #e328b7;
}

/* 能量条 */
.player:not([data-position="0"])>.nengliangtiao {
	width: 10%;
	height: 100%;
	left: 100%;
	background-color: rgb(231, 172, 9);
	border-radius: 9px;
	z-index: 10;
}

/* 能量条 */
.player:not([data-position="0"])>.nengliangtiao>.jindutiao {
	font-size: 10px;
	text-align: center;
	border-radius: 9px;
	height: 50%;
	width: 100%;
	bottom: 0;
	z-index: 20;
	background-color: #e328b7;
}

/*  蓝条  */
/*  蓝条  */
.player[data-position="0"]>.mana_nengliangtiao {
	width: 50%;
	height: 10%;
	left: 25%;
	top: -20%;
	background-color: #fff;
	border-radius: 9px;
	z-index: 10;
}

/*  蓝条  */
.player[data-position="0"]>.mana_nengliangtiao>.mana_jindutiao {
	font-size: 10px;
	text-align: center;
	border-radius: 9px;
	height: 100%;
	width: 50%;
	z-index: 20;
	background-color: #28e3ce;
}

/*  蓝条  */
.player:not([data-position="0"])>.mana_nengliangtiao {
	width: 10%;
	height: 100%;
	left: 100%;
	background-color: #fff;
	border-radius: 9px;
	z-index: 10;
}

/*  蓝条  */
.player:not([data-position="0"])>.mana_nengliangtiao>.mana_jindutiao {
	font-size: 10px;
	text-align: center;
	border-radius: 9px;
	height: 50%;
	width: 100%;
	bottom: 0;
	z-index: 20;
	background-color: #28e3ce;
}

/* 更新公告 */
.ybsl_gengxingonggao {
    text-align: left;
}

/* 仿拓域卡牌颜色 */
.card.YB-zqxxl-zise:before {
	opacity: 0.2;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgb(228, 64, 201) 0 0 5px;
	background-color: #e440c9;
	-webkit-filter: blur(3px);
	filter: blur(3px);
}
.card.selected:before{
	opacity: 0.6;
}


.yb6attack {
	width: 600px;
	height: 450px;
	background-color: rgba(253, 253, 51, 0.438); /* 设置背景颜色为红色 */
}
/* 覆盖样式 */
/* 菜单框大小 */
.menu.main {
	width: 600px;
	height: 450px;
}
/* 调整开始，选项等顶部边栏的方块大小 */
.menu.main > .menu-tab > div {
	width: 84px;
}
/* “启”字的位置 */
.menu.main > .menu-content > div > .menubutton.round {
    left: 500px;
    top: 327px;
}

.player>.zb_10202{
	background-image: url(../../image/card/zb_10202.png);
	left:10%;
    width: 30%; 
    aspect-ratio: 1/1;
	display: flex;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(var(--zb_10202-grayscale, 0%));
    transition: filter 0.3s ease;
}
/* .player>.huimu:before{
	background-color: darkgrey;
	opacity: 0.6;

} */
/* .player>.touming:before{
	background-color: darkgrey;
	opacity: 0;

} */
/* .player.zb_10202:before{
	opacity: 0.6;
} */

/*----------------定义亮灰色文字样式----------------*/
.bright-gray-text {
	color: #d3d3d3; /* 亮灰色 */
	text-shadow: 
		-1px -1px 0 #000,  /* 左上黑色描边 */
		1px -1px 0 #000,   /* 右上黑色描边 */
		-1px 1px 0 #000,   /* 左下黑色描边 */
		1px 1px 0 #000,    /* 右下黑色描边 */
		0 -1px 0 #000,     /* 上黑色描边 */
		0 1px 0 #000,      /* 下黑色描边 */
		-1px 0 0 #000,     /* 左黑色描边 */
		1px 0 0 #000;      /* 右黑色描边 */
	font-weight: bold; /* 加粗字体使效果更明显 */
}

/* 简化版亮灰色文字样式 - 使用stroke效果 */
.bright-gray-text-simple {
	color: #d3d3d3; /* 亮灰色 */
	text-shadow: 
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
	font-weight: bold;
}

/* 轻量版亮灰色文字样式 - 单层描边 */
.bright-gray-text-light {
	color: #e0e0e0; /* 更亮的灰色 */
	text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
	font-weight: bold;
}
.sgsxjxfzmnl {
	color:lightslategrey; /* 更亮的灰色 */
	text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
	font-weight: bold;
}